/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- header --*/
html,body {
	font-family: 'Roboto', sans-serif;
	background:#FFF;
	font-size:100%;
}
/*-- header --*/
.header-top{
	padding:2em 0;
	border-bottom: solid 1px #e3e3e3;
}
.header-logo a{
	display:block;
}
.header-logo{
	float:left;
}
.header-right{
	float:right;
}
.header-right ul{
	margin:0;
	padding:0;
}
.header-right ul li{
	  display: inline-block;
	  color: #7e7f84;
	  margin-left: 50px;
	  font-size: 14px;
	  font-weight: 500;
}
.header-right ul li.phone{
	padding-left: 1.5em;
	background: url(../../img/phone.png) no-repeat 0px 3px;
}
.header-right ul li.mail{
	padding-left: 1.5em;
	background: url(../../img/msg.png) no-repeat 0px 4px;
}
.header-right ul li.mail a{
	color:#7e7f84;
	text-decoration:none;
	text-transform: uppercase;
}
.header-right ul li.checkout a{
	border: solid 1px #e3e3e3;
	padding: 10px 25px 10px 25px;
	color: #7e7f84;
	font-size: 14px;
	text-decoration:none;
}
.header-right ul li.checkout{
	position:relative;
}
.header-right ul li.checkout a span.cart{
	background: url(../../img/add.png) no-repeat 0px 0px;
	padding-left: 35px;
	margin-right: 15px;
}
.header-right ul li.checkout a span.check{
	background: url(../../img/droup.png) no-repeat 135px 0px;
	padding-right: 35px;
	text-transform: uppercase;
}
.shopping{
	display:none;
	position:absolute;
	padding:20px;
	border:solid 1px #e3e3e3;
	background:#FFF;
	top: 141%;
	right: 0;
}
.shopping h5{
	color:#000;
	font-size: 14px;
	font-weight:600;
	margin:0;
}
.shopping p{
	color: #9E9E9E;
	font-size: 14px;
	font-weight: 100;
	margin: 1em 0 0 0;
}
.header-right ul li.checkout:hover div.shopping{
	display:block;
	z-index: 9999;
}
.shopping:after{
	content: '';
  position: absolute;
  top: -7%;
  right: 13%;
  width: 0;
  height: 0;
  border-top: 9px solid #e3e3e3;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  transform: rotate(180deg);rm: rotate(180deg);
}
.top-nav{
	float:left;
}
span.menu {
  display: none;
}
ul.navig {
	padding: 0;
	position: relative;
	margin: 0;
}
.top-nav ul li:nth-child(1){
	margin-left:0;
}
ul.navig li span {
	color: #fff;
	margin: 0 15px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: .7em 1em;
	position: relative;
}
ul.navig li a {
	color:#7e7f84;
	font-size:14px;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(70, 181, 227, 0);
	text-shadow: 2px 2px 2px #f9f9f9;
	-webkit-text-shadow: 2px 2px 2px #f9f9f9;
	-moz-text-shadow: 2px 2px 2px #f9f9f9;
	-o-text-shadow: 2px 2px 2px #f9f9f9;
	-ms-text-shadow: 2px 2px 2px #f9f9f9;
}
ul.navig li a.sup{
	color:#5f2073;
	background:#f9f9f9;
	font-weight:700;
}
ul.navig li a:hover{
	color: #ff5f3b;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
}
.search {
	float:left;
	  margin: .3em 0 0 1em;
}
.search input[type="text"] {
  display: inline-block;
  background: url(../../img/search.png) no-repeat 0px 14px;
  border: none;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #7e7f84;
  padding: .7em .7em .7em 2em;
}
/*-- banner --*/
.banner-bg{
	background:url(../../img/6.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height: 716px;
}
.banner-img{
	background:url(../../img/1.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.banner-img2{
	background:url(../../img/4.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.banner-info {
	width: 50%;
	margin: 15em 0 0 0;
	padding-bottom: 1em;
}
.banner-info h2{
	color:#FFF;
	font-size: 60px;
	font-weight:600;
	margin:0;
}
.banner-info h2 span{
	display:block;
}
.banner-info  p{
	color:#FFF;
	margin: 1em 0 2em;
	font-size:16px;
}
.banner-info a{
	color:#FFF;
	background:#f45a40;
	padding: .7em 1.5em;
	text-decoration:none;
}
.banner-info a:hover{
	background:#FFF;
	color:#ff674f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 4%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 41px;
  width: 41px;
  background: transparent url("../../img/themes.png") no-repeat left top;
  margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 4%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 85%;
	z-index: 999;
	left: 46%;
	padding: 0;
	margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../img../img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:14px;
  width:14px;
  display:inline-block;
  border:2px solid #FFF;
  background: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border: 2px solid #FFFFFF;
	background: #FFF;
}
/*-- banner-bottom --*/
.banner-bottom-grids {
	padding: 6em 0 4em 0;
}
.bottom-grid img{
	width:100%;
}
.bottom-grid-info {
  margin: 1em 0 0 0;
}
.bottom-grid a{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
}
.bottom-grid p{
	color: #7e7f84;
	margin: 1em 0 0 0;
	font-size: 14px;
}
/*-- products --*/
.products-heading h3{
	color:#67686d;
	font-size:26px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	margin:0;
	position:relative;
}
.products-heading h3:before{
	content: '';
  position: absolute;
  top: 39%;
  left: 18%;
  height: 1px;
  width: 19%;
  background: #e3e3e3;
}
.products-heading h3:after{
	content: '';
  position: absolute;
  top: 39%;
  right: 18%;
  height: 1px;
  width: 19%;
  background: #e3e3e3;
}
.products-grids {
  padding: 3em 0;
}
/*----*/
/******** SAP ************/
.row_8{
	border: 6px solid #a1d7b5;
}
.tab_box{
	background:#003d48;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {	
	width: 89%;
  list-style: none;
  padding: 0;
  position: absolute;
    top: 46%;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 1em;
	background:#f0f0f0;
	border-bottom: solid 2px #FFF;
	cursor: pointer;
	padding:4px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 33.3333%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: bold;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #F27141;
}
.resp-tab-active{
	border-bottom: solid 2px #636363;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
	position: relative;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
.facts{
	position:relative;
}
.facts_desc{
	position: absolute;
	top: 17%;
	left: 10%;
}
.facts h3{
	color:#e1451b;
	font-size:2em;
	font-weight:bold;
}
.facts h4{
	font-size:3em;
	color:#000;
	font-weight:bold;
}
a.detail1{
	color:#000;
	text-transform:uppercase;
	font-size:1em;
}
/*----*/
.product-grid{
	  border: solid 1px #e3e3e3;
}
.products-grid-info {
  padding: 1em;
}
.products-grid-info h3{
	font-size: 18px;
	color:#67686d;
	margin:0;
	text-transform:uppercase;
}
.products-grid-info h4{
	font-size: 14px;
	color: #67686d;
	margin: .5em 0;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 300;
}
.products-grid-info p{
	font-size: 10px;
	color: #67686d;
	margin: 0;
	padding-bottom:1em;
	border-bottom: solid 1px #e3e3e3;
}
.price {
	float:left;
	padding-top:1em;
}
.price p{
	color: #f45a40;
    font-size: 16px;
	margin: 0;
	border: none;
	padding-bottom: 0;
}
.like{
	float:right;
	padding-top: 1em;
}
.product-grid-text a img {
	display: block;
	  padding-top: 1em;
}
.facts img {
  padding-top: 1em;
}
.product-grid-text img {
  width: 100%;
}
.product-grid-text:hover div.plus{
	display:block;
}
.plus{
	display:none;
	position: absolute;
	top: 31%;
	left: 45%;
}
/*-- products-bottom --*/
.products-bottom{
	
}
.products-bottom-left h3{
	color: #f45a40;
	font-size: 23px;
	margin: 0;
	font-weight: 600;
}
.products-bottom-left h3 span{
	color:#777;
}
.products-bottom-left p{
	color:#777;
	font-size: 18px;
	width: 56%;
	margin:2em 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.social-icons ul{
	margin:0;
	padding:0;
}
.social-icons ul li{
	display:inline-block;
}
.social-icons ul a.facebook{
	background:url(../../img/social.png) no-repeat 0px 0px;
	width:22px;
	height:22px;
	display:block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons ul a.twitter{
	background: url(../../img/social.png) no-repeat -33px 0px;
	width:22px;
	height:22px;
	display:block;
	margin: 0 .5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons ul a.chrome{
	background: url(../../img/social.png) no-repeat -70px 0px;
	width:22px;
	height:22px;
	display:block;
	margin: 0 .5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons ul a.vimeo{
	background: url(../../img/social.png) no-repeat -106px 0px;
	width:22px;
	height:22px;
	display:block;
	margin: 0 .5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons ul a.rss{
	background: url(../../img/social.png) no-repeat -143px 0px;
	width:22px;
	height:22px;
	display:block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons ul a.facebook:hover{
	background:url(../../img/social.png) no-repeat 0px -23px;
}
.social-icons ul a.twitter:hover{
	background: url(../../img/social.png) no-repeat -33px -23px;
}
.social-icons ul a.chrome:hover{
	background: url(../../img/social.png) no-repeat -70px -23px;
}
.social-icons ul a.vimeo:hover{
	background: url(../../img/social.png) no-repeat -106px -23px;
}
.social-icons ul a.rss:hover{
	background: url(../../img/social.png) no-repeat -143px -23px;
}
.products-bottom-middle {
  padding-left: 1em;
  border-left: solid 1px #e3e3e3;
  margin-top: 4em;
}
.products-bottom-middle p{
	font-size: 14px;
	color:#777;
	font-style:italic;
}
.products-bottom-middle p span{
	display:block;
	margin:1em 0;
}
.map iframe {
  width: 100%;
  min-height: 264px;
  border: none;
}
.location p{
	color: #FFF;
	font-size: 14px;
	margin: 0;
	background: url(../../img/location.png) no-repeat 321px 14px #2a2d34;
	padding: 1em;
}
/*-- sign-up --*/
.sign-up{
	background:#f45a40;
	padding:2em 0;
}
.sign-up-left{
	float:left;
}
.sign-up-left p{
	font-size:23px;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
	color:#FFF;
	text-transform:uppercase;
}
.sign-up-left p span{
	font-weight:600;
}
.sign-up-right{
	float:right;
}
.sign-up-right input[type="text"] {
  display: inline-block;
  background:#FFF;
  text-transform:uppercase;
  border: none;
  margin: 0;
  outline: none;
  font-size: 16px;
  color: #7e7f84;
  padding: .5em 1em;
}
.sign-up-right input[type="submit"] {
  padding: .5em 1em;
  background:#ff674f;
  margin-left:1em;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform:uppercase;
}
.sign-up-right input[type="submit"]:hover{
	background:#FFF;
	color:#ff674f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- footer --*/
.footer{
	background:#2a2d34;
	padding:2em 0;
}
.stores h3{
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
	font-size: 24px;
	text-transform: uppercase;;
}
.stores ul{
	margin: 0em 0 2em;
	padding:0;
}
.stores ul li{
	font-size:14px;
	margin:0;
	color:#7e7f84;
	display:block;
}
.stores ul li.drive{
	margin-top:2em;
}
.white-icons ul a.facebook{
	background: url(../../img/social.png) no-repeat 0px -48px;
}
.white-icons ul a.twitter{
	background: url(../../img/social.png) no-repeat -33px -48px;
}
.white-icons ul a.chrome{
	background: url(../../img/social.png) no-repeat -70px -48px;
}
.white-icons ul a.vimeo{
	background: url(../../img/social.png) no-repeat -106px -48px;
}
.white-icons ul a.rss{
	background: url(../../img/social.png) no-repeat -143px -48px;
}
.blog h3{
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
	font-size: 24px;
	text-transform: uppercase;;
}
.blog a{
	color:#fff;
	font-size:14px;
	margin:0;
	text-decoration:none;
}
.blog a:hover{
	color:#f45a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.blog p{
	color:#7e7f84;
	font-size:14px;
	margin: .2em 0 2em;
}
.support h3{
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
	font-size: 24px;
	text-transform: uppercase;;
}
.support-left{
	float:left;
	width: 50%;
}
.support-left ul{
	margin:0;
	padding:0;
}
.support-left ul li{
	display:block;
}
.support-left ul li a{
	color:#7e7f84;
	font-size:14px;
	text-decoration:none;
}
.support-left ul li a:hover{
	color:#f45a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.support-right{
	float: right;
	width: 37%;
}
.contact h3{
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
	font-size: 24px;
	text-transform: uppercase;;
}
.contact input[type="text"],.contact textarea  {
  background: #FFF;
  text-transform: uppercase;
  border: none;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #7e7f84;
  padding: .5em 1em;
  width:100%;
}
.contact textarea {
	min-height: 100px;
	margin-top: 1em;
	resize:none;
}
.contact input[type="submit"] {
  padding: .5em 1em;
  background: #ff674f;
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.contact input[type="submit"]:hover{
	background:#FFF;
	color:#ff674f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.copyright{
	margin:.5em 0;
}
.copyright p{
	color: #7e7f84;
	font-size: 14px;
	margin:0;
	text-align: center;
}
.copyright p a{
	color: #7e7f84;
	text-decoration:none;
}
.copyright p a:hover{
	color:#ff674f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- men --*/
.men{
	background: #F0F0F0;
	padding:2em 0;
}
.fashions{
	float: left;
}
.title h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
}
.fashion-section{
	margin:3em 0 0 0; 
}
.fashion-grid{
	margin-bottom: 50px;
	position:relative;
	padding:0;
	padding-right:1em;
}
.fashion-grid:hover div.product{
	display:none;
}
.fashion-grid a img{
	width:100%;
	position:relative;
}
.fashion-view{
	cursor: pointer;
	background:rgba(26, 24, 24, 0.68);
	position:absolute;
	bottom:0;
	width:94.5%;
	height:100%;
	text-align:center;
	display:none;
}
.fashion-view h4{
	margin-top:4em;
	font-weight:400;
	color:#2f2f2f;
	background:#d1d0d0;
	font-size:1.1em;
	padding:0.5em 1.5em;
	display:inline-block;
}
.fashion-view h4 a{
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.fashion-view h4:hover{
	background:#fff;
	color:#2f2f2f;
}
.fashion-grid:hover div.fashion-view{
	display:block;
}
.fashion-grid2{
	margin-top:3em;
}
.product{
	position:absolute;
	bottom:0;
	border-top:2px solid #00f406;
	background:#dedede;
	width: 92.5%;
	padding:0.5em;
}
.not-avaliable{
	border-top:2px solid #c90001;
}
h4.sold-out{
	background:#fe3636;
	color:#fff;
}
h4.sold-out a{
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.product h3{
	color: #686767;
	font-size: 14px;
	margin: 0;
}
.product p{
	color:#686767;
	font-size:14px;
	float:right;
	margin:1em 1em 0 0;
	display:inline-block;
}
.product p span{
	background:url(../../img/tralle.png) no-repeat 0px 0px;
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
}
/*-side-bar-*/
.side-bar{
	background:#dedede;
	padding:2em 2em 9em 2em;
	float:left;
}
.side-bar2{
	background:#dedede;
	padding:2em 2em 9em 2em;
}
.categories h3{
	font-weight: 600;
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
}
.categories ul{
	margin-top:1em;
	padding: 0;
}
.categories ul li{
	display:block;
	padding:10px 0;
	border-bottom: 1px dotted #eee;
}
.categories ul li a{
	color: #7e7f84;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}
.categories ul li a:hover{
	color: #f45a40;
}
.sales{
	margin:3em 0;
}
.sales h3{
	color:#f45a40;
	font-size:1.3em;
	font-weight:600;
	margin-bottom:1em;
}
.pricing{
	margin-bottom:1em;
}
.pricing input[type="text"] {
	width: 40%;
	padding: 4px 7px;
	border:none;
	font-size: 1em;
	margin-bottom: 1em;
	color: #000;
	outline: none;
	font-weight: 400;
	float:left;
	margin-right:5%;
}
.size h4,.pricing h4{
	color:#3b3b3b;
	font-size:1.2em;
	font-weight:600;
	display:block;
	margin-bottom:0.5em;
}
.size ul {
  padding: 0;
  margin: 1em 0;
}
.size ul li{
	display:inline-block;
	margin:0 10px 0 0px;
}
.size ul li a{ 
	padding:5px;
	background:#afafaf;
	color:#1a1818;
	text-decoration:none;
	font-size:0.85em;
	text-align:center;
}
.size ul li a:hover{
	color:#fff;
	background:#f45a40;
}
/*-- about --*/
.about{
	padding:2em 0;
	background: #F0F0F0;
}
.about-left img{
	width:100%;
}
.about-left h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
}
.about-left h5{
	color:#656363;
	font-size:14px;
	font-weight:500;
	margin:1em 0;
	  line-height: 1.3em;
}
.about-left p{
	color:#7e7f84;
	font-size:14px;
	margin:0;
}
.about-middle h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
}
.about-middle h5{
	color: #f45a40;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
}
.about-middle p{
	color:#7e7f84;
	font-size:14px;
	margin: 0 0 1em;
}
.about-right h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
}
.about-right h5{
	color:#656363;
	font-size:14px;
	font-weight:500;
	margin: 0 0 1em;
	line-height: 1.3em;
}
.about-right p{
	color:#7e7f84;
	font-size:14px;
	margin: 0 0 1em;
}
/*-- cart --*/
.add-to-cart{
	padding: 5em 0;
	background: #F0F0F0;
	text-align:center;
}
.add-to-cart h3{
	color: #f45a40;
	font-size: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}
.add-to-cart p{
	color: #7e7f84;
	font-size: 18px;
	margin: 0 auto;	
	width: 50%;
	line-height: 1.5em;
}
.add-to-cart p a{
	color: #f45a40;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration:none;
	font-style: italic;
}
/*-- support --*/
.support-info{
	padding:7em 0;
	background: #F0F0F0;
	text-align:center;
}
.support-info h1{
	color:#f45a40;
	font-size: 41px;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}
.support-info h2{
	font-size: 100px;
	font-weight: 400;
	margin: 0 0 .5em 0;
	color:#7e7f84;
}
.support-info a{
	padding: .5em 2em;
	background: #ff674f;
	color: #FFF;
	text-decoration:none;
}
.support-info a:hover{
	background: #FFF;
	color: #ff674f;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- single --*/
.single{
	padding:2em 0;
	background: #F0F0F0;
}
.single-left-left {
  width: 35.2%;
  float: left;
  margin-right: 5.6%;
}
.single-left-right{
	float:left;
}
.single-left-info h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
}
.single-left-info a.view{
	color: #7e7f84;
	font-size: 14px;
}
.single-left-info p{
	color:#f45a40;
	font-family: 'Roboto Condensed', sans-serif;
	margin:1em 0;
	font-size:24px;
}
.select-size p{
	font-size:14px;
	margin:0;
	color:#7e7f84;
}
.select-size ul {
  padding: 0;
  margin: 1em 0;
}
.select-size ul li{
	display:inline-block;
	margin:0 10px 0 0px;
}
.select-size ul li a{ 
  color: #444546;
  font-size: 12px;
  line-height: 2.2em;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  min-width: 30px;
  height: 30px;
  padding: 1px 9px;
  border: solid 1px #697071;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.select-size ul li a:hover{
	color:#fff;
	background:#f45a40;
	  transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.buy-now{
	float:left;
	margin-right:10px;
}
.buy-now a{
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	padding:.5em 2em;
	background:#589d3e;
	text-align:center;
}
.buy-now a:hover{
	background:#f45a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.free p{
	color: #7e7f84;
	font-size: 12px;
	margin:1em 0 0 0;
}
.wishlist{
	float:left;
}
.wishlist a{
	color: #7e7f84;
	font-size:14px;
	text-decoration:none;
	padding: 0;
}
.wishlist a:hover{
	color:#f45a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.delivery a{
	color: #7e7f84;
	text-decoration: none;
	font-size: 14px;
	padding-left: 3em;
	background: url(../../img/van.png) no-repeat 0px -7px;
	height: 32px;
}
.delivery {
  margin-top: 2em;
}
.delivery a:hover{
	color: #f45a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}	
.product-details{
	margin-top: 3em;
}
.product-details h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0 0 1em 0;
}
.product-details p{
	color: #7e7f84;
	font-size: 14px;
	margin:0;
}
.related {
  margin-top: 1em;
}
.related h3{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0 0 1em 0;
}
.related-grid {
  margin-bottom: 2em;
}
.related-left {
  border-right: solid 1px #D0CBCB;
}
.related-left-left img{
	width:100%;
}
.related-left-right p{
	color: #7e7f84;
	font-size: 14px;
	margin:0;
}
.related-left-right h5{
	font-family: 'Roboto Condensed', sans-serif;
	color: #7e7f84;
	font-size: 18px;
	font-weight: 600;
	margin: 2em 0 .5em 0;
}
.related-right {
  margin-top: 2em;
}
.related-right p{
	color: #7e7f84;
	font-size: 28px;
	margin: 0em 0 .5em 0;
}
.related-right a{
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	padding: .5em 2em;
	background: #589d3e;
	text-align: center;
}
.related-right a:hover {
  background: #f45a40;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
@media (max-width: 1366px){
	.banner-info {
	  margin: 15em 0 0 3em;
	}
}
@media (max-width: 768px){
ul.navig li.plan:hover ul.sub-nav{
	display:none;
}

.head {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	left: 0;
}
ul.navig {
	width: 11%;
	float: right;
	margin:0;
}
ul.navig{
	display:none;
}
ul.navig li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
ul.navig li a {
	display: block;
	  padding: .5em 0;
}
span.menu {
	display: block;
	cursor: pointer;
	float: none;
	margin: 4px 15px 0 0;
}
ul.navig {
	margin: 3em 0 0 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;
	background: rgba(255, 255, 255, 0.97);
}
.navigation {
	height: 60px;
	padding: 0px 16px 0em;
	margin-bottom: 0em;
}
ul.navig li:nth-of-type(4) {
	margin: 0 0px 0 0em;
}
ul.navig li:nth-of-type(3) {
	margin: 0 0em 0 0px;
}
}
/*-- responsive --*/
@media (max-width:1024px){
	.banner-bg {
		min-height: 536px;
	}
	.banner-info {
		margin: 10em 0 0 4em;
	}
	.products-grid-info h3 {
		font-size: 16px;
	}
	.resp-tabs-list {
	  width: 87%;
	    top: 43%;
	}
	.single-left-left {
		width: 44.2%;
	}
	.related-right a {
		font-size: 15px;
	}
	.side-bar {
		padding: 2em 2em 9em 1em;
	}
}
@media (max-width:768px){
	.search {
		float: right;
	}
	.header-right ul li.phone {
		display: none;
	}
	.banner-info h2 {
		font-size: 46px;
	}
	.banner-info {
	    margin: 8em 0 0 5em;
	}
	.bottom-grid {
	  float: left;
	  width: 33.33%;
	}
	.bottom-grid a {
		font-size: 22px;
	}
	.products-heading h3:before {
		left: 13%;
	}
	.products-heading h3:after {
		right: 13%;
	}
	.product-left-grid {
	  float: left;
	  width: 33.33%;
	}
	.product-left-grid:nth-child(4) {
	  display: none;
	}
	.products-bottom-middle {
	  padding-left: 0;
	  border-left: none !important;
	  margin-top: 1em;
	}
	.sign-up-left p {
		font-size: 17px;
	}
	.stores-grid {
	  float: left;
	  width: 50%;
	}
	.blog {
	  float: left;
	  width: 50%;
	}
	.support {
	  float: left;
	  width: 50%;
	}
	.contact {
	  float: left;
	  width: 50%;
	}
	.fashion-grid {
	  float: left;
	  width: 33.33%;
	}
	.fashion-grid:nth-child(4) {
	  display: none;
	}
	.fashions {
	  padding: 0;
	 }
	 .side-bar {
	  padding: 2em 0em 0em 1em;
	  margin-top: 1em;
	  width: 100%;
	}
	.related-left {
	  float: left;
	  width: 76%;
	}
	.related-right {
	  float: left;
	  width: 24%;
	  margin-top: 0em;
	}
	.related-left-left {
	  float: left;
	  width: 20%;
	}
	.related-left-right {
	  float: left;
	  width: 80%;
	}
	.related-left-right h5 {
		margin: 1em 0 .5em 0;
	}
	.map {
	  padding: 0;
	}
}
@media (max-width:640px){
	.banner-info h2 {
	  font-size: 38px;
	}
	.banner-info {
	    margin: 5em 0 0 4em;
	}
	.banner-bg {
	  min-height: 400px;
	}
	.callbacks_tabs {
		left: 36%;
	}
	.bottom-grid a {
	  font-size: 18px;
	}
	.products-heading h3:before {
	  left: 9%;
	}
	.products-heading h3:after {
	  right: 9%;
	}
	.products-grid-info h3 {
	  font-size: 12px;
	}
	.resp-tabs-list {
	  width: 84%;
	    top: 39%;
	}
	.sign-up-left {
	  float: none;
	  text-align: center;
	  margin-bottom: 1em;
	}
	.sign-up-right {
	  float: none;
	  text-align: center;
	}
	.single-left-left {
	  width: 51%;
	}
	.related-left {
		padding-left: 0;
	}
	.related-left-right h5 {
	  margin: 0em 0 .5em 0;
	}
	.related-right a {
	  font-size: 10px;
	}
}
@media (max-width:480px){
	.header-right ul li.mail {
		display: none;
	}
	.banner-info {
		width: 68%;
	}
	.banner-bottom-grids {
	   padding: 2em 0 2em 0;
	}
	.bottom-grid {
	  float: left;
	  width: 50%;
	}
	.bottom-grid:nth-child(3) {
		display: none;
	}
	.products-heading h3 {
		font-size: 23px;
	}
	.product-left-grid:nth-child(1) {
	  display: none;
	}
	.product-left-grid {
	  width: 50%;
	}
	.products-heading h3:before {
	  left: 7%;
	}
	.products-grids {
	  padding: 2em 0;
	}
	.products-heading h3:after {
	  right: 7%;
	}
	.blog p {
		margin: 0.2em 0 1em;
	}
	.support-left {
	  width: 100%;
	}
	.support-right {
	  display: none;
	}
	.fashion-view h4 {
		font-size: 14px;
	}
	.fashion-view h4 {
	  margin-top: 2em;
	}
	.fashion-section {
	  margin: 1em 0 0 0;
	}
	.title h3 {
		margin: 0;
	}
	.support-info h2 {
		font-size: 82px;
	}
	.related-left-left {
		width: 28%;
	}
	.related-left-right {
	  width: 72%;
	}
	.related-left-right p {
	  overflow: hidden;
	  height: 38px;
	}
	.related-right p {
		font-size: 22px;
	}
	.related-right {
		padding-right: 0;
	}
	.related-right a {
	  font-size: 6px;
	}
	.add-to-cart p {
		width: 83%;
	}
}
@media (max-width:320px){
	.header-top {
		padding: 1.5em 0;
	}
	.header-right ul li.checkout a span.check {
		display: none;
	}
	.header-right ul li.checkout a {
		padding: 7px 0px 7px 9px;
	}
	.header-right ul li {
		margin: 0;
	}
	.add-to-cart {
		padding: 4em 0;
	}
	.add-to-cart p {
		width: 92%;
		font-size:14px;
	}
	.add-to-cart h3 {
		font-size: 18px;
	}
	.shopping:after {
	  content: '';
	  position: absolute;
	  right: 10%;
	}
	.shopping h5 {
		font-size: 11px;
	}
	.shopping {
		padding: 10px;
	}
	.shopping p {
	  overflow: hidden;
	  height: 77px;
	 }
	 span.menu {
		padding: .5em 0;
		margin: 0;
	}
	.search {
		width: 50%;
	}
	.search input[type="text"] {
	  background: url(../../img/search.png) no-repeat 0px 18px;
	  padding: 1em .7em .7em 2em;
	    width: 100%;
	}
	.banner-info {
		width: 74%;
		margin: 4em 0 0 3em;
	}
	.callbacks_nav {
	  top: 54%;
	}
	.banner-info h2 {
	  font-size: 24px;
	}
	.banner-info p {
		font-size: 14px;
	  overflow: hidden;
	  height: 56px;
	}
	.banner-info a {
	  padding: .5em 1em;
	  font-size: 14px;
	}
	.banner-bg {
	  min-height: 314px;
		background: url(../../img/6.jpg) no-repeat -62px 0px;
		background-size:cover;
	}
	.callbacks_tabs {
	  left: 29%;
	}
	.bottom-grid-info {
	  margin: .5em 0 0 0;
	}
	.bottom-grid a {
	  font-size: 14px;
	}
	.bottom-grid p {
	  margin: 0em 0 0 0;
	  font-size: 13px;
	  overflow: hidden;
	  height: 50px;
	}
	.banner-bottom-grids {
	  padding: 1em 0;
	}
	.products-heading h3 {
	  font-size: 18px;
	}
	.products-heading h3:before {
	  display:none;
	}
	.products-heading h3:after {
	   display:none;
	}
	.product-left-grid {
	  width: 48%;
	  padding: 0;
	  margin-left: .5em;
	}
	.product-left-grid:nth-child(2){
		margin-left:0;
	}
	.products-grid-info h4 {
		font-size: 10px;
	}
	.products-grid-info h3 {
	  overflow: hidden;
	  height: 12px;
	}
	.products-grid-info p {
	  display:none;
	}
	.price p {
		 font-size: 14px;
		display: block;
	}
	.products-bottom-left p {
	  width: 100%;
	  margin: 1em 0;
	}
	.products-bottom-middle p {
	  overflow: hidden;
	  height: 143px;
	}
	.sign-up-left p {
	  font-size: 12px;
	}
	.sign-up-right {
		text-align: left;
	}
	.sign-up-right input[type="submit"] {
		margin: 1em 0 0 0;
	}
	.sign-up {
		margin: 1em;
	}
	.stores-grid {
	  width: 100%;
	}
	.blog {
	  width: 100%;
	}
	.blog h3{
		margin: 0.5em 0;
	}
	.support {
	  width: 100%;
	}
	.support h3{
		margin: 0.5em 0;
	}
	.contact {
	  margin: 1em 0 0 0;
	  width: 100%;
	}
	.contact h3{
		margin: 0.5em 0;
	}
	.footer {
		padding: 1em 0;
	}
	.copyright {
	  margin: 1em 0 0 0;
	}
	.fashion-grid:nth-child(3) {
	  display: none;
	}
	.fashion-grid {
	  width: 50%;
	}
	.product {
		width: 89.5%;
	}
	.product h3 {
		font-size: 12px;
	}
	.product p {
	  font-size: 12px;
	  margin: .5em 1em 0 0;
	}
	.title h3 {
		font-size: 21px;
	}
	.categories h3 {
		font-size: 21px;
	}
	.side-bar {
		padding: 0em 0em 0em 1em;
	}
	.sales {
	  margin: 1em 0;
	}
	.col-md-9 {
	  padding: 0;
	}
	.about-left h3 {
		font-size: 21px;
	}
	.about-middle h3 {
	  font-size: 21px;
	  margin: .5em 0;
	}
	.about-middle h3 {
		font-size: 21px;
	}
	.about-middle h5 {
		margin: 0 0 .5em 0;
	}
	.about-right h3 {
		margin: 0 0 .5em 0;
	}
	.about {
		padding: 1em 0;	
	}
	.support-info h1 {
		font-size: 26px;
	}
	.support-info h2 {
	  font-size: 58px;
	}
	.related-left {
	  float: none;
	  width: 100%;
	    border-right: none;
	}
	.related-right {
	  float: none;
	  width: 100%;
	  margin-top: .5em;
	}
	.related-right a {
	  font-size: 12px;
	}
	.banner-img2 {
		background: url(../../img/4.jpg) no-repeat -63px 0px;
		background-size:cover;
	}
	.banner-img {
	   background: url(../../img/1.jpg) no-repeat -36px 0px;
	  background-size: cover;
	}
}