<?= $this->Html->link(
'<span class="cart">$ 99.54</span><span class="check">KIỂM TRA GIỎ HÀNG</span>'
,'/home/gio-hang',['escape'=>false]) ?>
<?php if($this->request->session()->check('cart')){
		echo 
		'<div class="shopping">
		<p>------------------------------------------------------------------</p>
	    <h5>Click vào Kiểm Tra Giỏ Hàng </h5>
	    <p>Bạn có 2 sản phẩm trong giỏ hàng</p>
		</div>';

	}else{
		echo 
		'<div class="shopping">
	    <h5>Your Shopping Cart is empty.</h5>
	    <p>Give it purpose—fill it with books, movies, mobiles, cameras, toys and fashion jewellery.</p>
		</div>';
		} ?>
