
<div class="categories">
	<h3>DANH MỤC</h3>
	<ul>
	<?php foreach ($query2 as $value): ?>
		<li><?php echo $this->Html->link($value['name'],'/home/'.$value['slug']); ?></li>
	<?php endforeach; ?>
	</ul>
	</div>
</div>